@font-face {
  font-family: "BebasNeue";
  src: url(../fonts/BebasNeue-Regular.woff) format("woff");
}

body {
  font: 18px/36px "BebasNeue", "Arial Narrow", Arial, sans-serif;
  background-color: #ddd;
}

h1 {
  font-size: 80px;
  margin: 50px 0;
  text-align: center;
  text-shadow: 1px 1px 1px white;
}

.container {
  width: 600px;
  background-color: white;
  margin: auto;
  padding: 30px;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.gallery {
  list-style: none;
  padding: 0;
}

.gallery::after {
  content: "";
  display: table;
  clear: both;
}

.gallery li {
  width: 120px;
  height: 120px;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  border: 5px solid #666;
}

.gallery li,
.gallery li a img,
.gallery li span {
  border-radius: 50%;
}

.gallery li a {
  display: block;
}

.gallery li a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.gallery li span {
  display: block;
  width: 120px;
  height: 120px;
  background-color: rgba(200, 200, 200, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  line-height: 120px;
  color: #333;
  text-shadow: 1px 1px 1px #ddd;
  opacity: 0;
  transform: scale(0) rotate(0deg);
  transition: 0.3s;
}

.gallery li a:hover span {
  opacity: 1;
  transform: scale(1) rotate(360deg);
}

.overlay {
  width: 0;
  height: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  padding: 100px 0;
  transition: 1s;
  opacity: 0;
}

.overlay:target {
  width: auto;
  height: auto;
  bottom: 0;
  right: 0;
  opacity: 1;
}

.overlay img {
  max-height: 100%;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  animation: zoom-fade 1s;
}

.next,
.prev {
  width: 50px;
  height: 50px;
  background-image: url(../img/next.png);
  position: absolute;
  top: 40%;
  margin-left: 50px;
}

.prev {
  background-image: url(../img/prev.png);
  margin-left: -100px;
}

@keyframes zoom-fade {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes slide-fade {
  0% {
    opacity: 0;
    margin-top: -20px;
  }
  100% {
    opacity: 1;
    margin-top: 0;
  }
}

.overlay .close {
  position: absolute;
  top: 50px;
  left: 50%;
  margin-left: -20px;

  color: white;
  text-decoration: none;

  background-color: black;
  border: 1px solid white;
  padding: 5px;
  line-height: 14px;

  animation: slide-fade 0.5s 0.5s forwards;
  opacity: 0;
}

.clear {
  clear: both;
}
