body {
  font: 16px/28px Arial, serif;
  color: #333;
  background-color: #eaeaea;

  background-image: url("img/sativa.png");
}

.container {
  width: 800px;
  margin: auto;
  background-color: white;
}

.header {
  padding: 20px 20px 10px 20px;
}

.header .judul {
  font-size: 40px;
  font-weight: bold;
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header li {
  display: inline-block;
  margin-top: 20px;
  margin-right: 10px;
}

.header a {
  text-decoration: none;
  color: salmon;
  padding: 3px;
}

.header a:hover {
  background-color: lightskyblue;
  color: white;
}

.hero {
  height: 280px;
  background-image: url("img/hero.png");
  background-size: cover;
  background-position: 0 -180px;
  border-top: 5px solid salmon;
  border-bottom: 5px solid lightskyblue;
}

.content {
  padding: 20px;
}

.content h2 {
  font-size: 32px;
  font-weight: bold;
  color: DarkBlue;
  text-align: center;
}

.content .penulis {
  font-size: 14px;
  margin-top: -5px;
  color: Gray;
  font-style: italic;
  text-align: center;
}
.content .penulis-oleh {
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 20px;
}

.content .penulis-oleh a {
  color: Orange;
  text-decoration: none;
  font-weight: bold;
}

.content p {
  font-size: 14px;
  margin-bottom: 20px;
  text-align: justify;
}

#paragraf1 {
  color: Brown;
}

#paragraf2 {
  line-height: 25px;
}

.footer {
  background-color: #333;
  padding: 10px;
}

.footer .copy {
  color: #eaeaea;
  text-align: center;
  font-size: 12px;
}
