/*
==================
1. BASE STYLE & RESET
==================
*/
* {
  margin: 0;
  padding: 0;
}

body {
  /* Perbaikan komentar: Gunakan Montserrat yang sudah di-import di HTML */
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

/*
==================
2. NAVBAR STYLE (Desktop)
==================
*/
nav {
  display: flex;
  background-color: #61a9b1;
  padding: 20px 0;
  justify-content: space-around;
  color: aliceblue;
  height: 50px;
  align-items: center;
}

/* LOGO */
.logo {
  font-size: 20px;
}

nav .logo h4 {
  font-family: "Pacifico", cursive;
  letter-spacing: 3px;
  font-weight: 200;
}

/* NAV LINK */
nav ul {
  display: flex;
  list-style: none;
  width: 50%;
  justify-content: space-between;
}

nav ul li a {
  color: aliceblue;
  text-decoration: none;
  font-size: 0.8em;
  font-family: "Montserrat", sans-serif;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: white;
}

/*
==================
3. HAMBURGER MENU
==================
*/
.menu-toggle {
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}

.menu-toggle input {
  position: absolute;
  width: 40px;
  height: 28px;
  left: -5px;
  top: -3px;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}

.menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: aliceblue;
  border-radius: 3px;
  transition: all 0.5s;
}

/* HAMBURGER MENU ANIMATION */

/* Garis atas (child ke-2) */
.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}

/* Garis bawah (child ke-4) */
.menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
  background-color: white;
  transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked ~ span:nth-child(4) {
  background-color: white;
  transform: rotate(-45deg) translate(-1px, 0);
}

/* Garis tengah (child ke-3) dihilangkan */
.menu-toggle input:checked ~ span:nth-child(3) {
  opacity: 0;
  transform: scale(0);
}

/*
==================
4. MEDIA QUERIES (Responsif)
==================
*/

/* Ukuran Tablet (max-width: 768px) */
@media screen and (max-width: 768px) {
  nav ul {
    width: 50%;
  }
}

/* Ukuran Mobile (max-width: 576px) */
@media screen and (max-width: 576px) {
  /* Tampilkan hamburger menu */
  .menu-toggle {
    display: flex;
  }

  /* Styling dan posisi untuk menu yang disembunyikan */
  nav ul {
    position: absolute;
    right: 0;
    /* top: 0; <-- Ini yang menyebabkan menu menutupi header, tetapi dibiarkan 0 sesuai isi asli */
    top: 0;
    width: 80%;
    /* height: 100vh; <-- Ini yang membuat menu sangat panjang */
    height: 100vh;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #61a9b1;
    transform: translateX(100%);
    z-index: 1;
    transition: all 1s;
    opacity: 0;
  }

  /* Efek menu muncul (kelas 'slide' dari JavaScript) */
  nav ul.slide {
    transform: translateX(0);
    opacity: 1;
  }
}
